<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container__main">
      <div class="titles">
        <h1>存放技術之地</h1>
        <p>Welcome to my blog</p>
      </div>
      <div class="container__posts">
        <div class="post post-spread">
          <div class="post__title about_title">
            <img src="https://truth.bahamut.com.tw/s01/202104/9c0bf63b744fde98f63841df09089eee.JPG" alt="">
            <h1>白川（白川（しらかわ），聲：飯田里穗）</h1>
          </div>
          <div class="hr"></div>
          <div class="post__content-spread about_content">
            <p>28歲的羊駝，剛力醫院的護士，是一位沉穩的成熟女性，但也有愛開玩笑的一面。興趣是卡波耶拉。
            Shirakawa is a nurse at Gouriki's medical clinic. She is a calm and mature woman, but sometimes shows a mischievous side. She is learning capoeira as a hobby. She is also the ex-girlfriend of Dobu.
            剛力医院の看護師。
  落ち着いた大人の女性だがたまにお茶目な一面を見せるときもある。
  趣味でカポエイラを習っている。</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      Copyright © 2020 Who's Blog All Rights Reserved.
    </footer>
  </body>
</html>
